body{
    margin: 0;
    padding: 0;
}
.header, .footer{
    background-color: black;
    color: white;
}
.header{
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.footer-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.cms-container{
    display: grid;
    grid-template-columns: 290px 290px 290px;
}
.cms-card{
    margin:20px;
    background-color: #F2E8DF;
}
img{
    width: 100%;
}
.single-container{
    margin: 20px;
    width: 500px;
}
.cms-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.signout{
    width: 90px;
    border-radius: 20px;
}